@import "nullstyle.scss";

.block{
    font-size: 14px;
    line-height: 21px;
	span{
		color: green;
	}
	.block__text{
		font-size: 20px;
	}
}
.link{
	font-size: 18px;
	color: greenyellow;
	text-decoration: underline;
	&:hover{
		color: aqua;
	}
}